<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>RobBot</title>
  </head>
  <body>
    <div id="app">
      <div id="notloaded">
        <p>There was an error loading.</p>
        <p>
          Something may be wrong the website, or with your browser (maybe you
          have a content blocker, or have disabled JavaScript, or your browser
          is too old). Try force reloading to make sure (Ctrl-F5 or Cmd-R).
        </p>
      </div>
    </div>
  </body>
</html>
